# Entorno virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de base de datos
*.db

# Archivos de configuración de IDE
.vscode/
.idea/

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db