# Dependencias principales
psycopg2-binary==2.9.10  # Conector de PostgreSQL
tkcalendar==1.6.1  # Selector de fechas para Tkinter
python-dateutil==2.9.0.post0  # Manejo de fechas
# Manejo de configuración y logs
python-dotenv==1.0.1  # Carga variables de entorno (.env)
loguru==0.7.2  # Sistema de logs


